:root {
  --White: hsl(0, 0%, 100%);

  --Light-gray: hsl(212, 45%, 89%);

  --Grayish-blue: hsl(220, 15%, 55%);

  --Dark-blue: hsl(218, 44%, 22%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--Light-gray);
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  background-color: var(--White);
  max-width: 120rem;
  width: 90%;
  margin: 5em auto 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
img {
  width: 90%;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.title {
  /* border: 2px solid red; */
  margin: 0 auto;

  text-align: center;
  padding: 0.5em;
  line-height: 1.2;
}

.info {
  /* border: 2px solid green; */
  margin: 0 auto;

  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.2;
  font-size: 1.8rem;
  color: var(--Grayish-blue);
}

@media (min-width: 375px) {
  .container {
    width: 30%;
  }
}
